/*---------Обнуление-----------*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #1D1D1D;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------utilities-----------*/
.container {
  max-width: 956px;
  margin: 0 auto;
}

header, main {
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  background-color: #FFFFFF;
  color: #1D1D1D;
  padding: 14px 20px;
  line-height: 24px;
  font-size: 13px;
  font-weight: 500;
  border: none;
}

input[type="search"] {
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  line-height: 24px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 8px;
  }
}

/*---------header-----------*/

.header__container {
  display: flex;
  align-items: center;
  min-height: 70px;
}

.header__button-1 {
  margin-left: auto;
}

.header__button-2 {
  margin-left: 5px;
}

@media (max-width: 479px) {
  .header__button-2 {
    display: none;
  }
}

/*---------joint_styles-----------*/

.title-list {
  font-size: 22px;
  line-height: 34px;
}


/*---------index.html-main----------*/

.home-intro {
  margin-top: 55px;
  margin-bottom: 100px;
  border-top: 1px solid transparent;
}

.home-intro__title {
  margin-top: 55px;
}

.home-intro__list {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 35px;
}

.home-intro__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-item__img {
  width: 100%;
  max-height: 256px;
  object-fit: cover;
}

.intro-item__name {
  margin-top: 15px;
  flex: 1 1 auto;
  color: #1D1D1D;
}

.intro-item__kitchen {
  margin-top: 5px;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  flex: 1 1 auto;

}

.intro-item__time {
  font-size: 13px;
  line-height: 21px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  .home-intro__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 479px) {
  .home-intro__list {
    grid-template-columns: 1fr;
  }
}

/*---------footer-----------*/

.footer {
  position: relative;
  background-color: #262626;
  color: #FFFFFF;
  border-top: 1px solid transparent;
}

.footer__logo {
  margin-top: 55px;
}

.footer__info {
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-info {
  display: flex;
  justify-content: flex-start;
}

.footer-info__left {
  margin-top: 32px;
  flex: 1 1 33.33%;
}

.footer-info__lang {
  display: inline-block;
  width: 227px;
  height: 40px;
  padding-left: 48px;
  background: url("../images/dest/footer_lang.svg") 15px 50% no-repeat, #3B3B3B;
  border: none;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 15px;
}

.footer-info__name {
  margin-top: 30px;

  .green {
    color: #49A144;
    margin-right: 2px;
  }
}

.footer-info__social {
  margin-top: 17px;
}

.footer-social {
  display: flex;
}

.footer-social__item:not(:first-child) {
  margin-left: 8px;
}

.footer-info__list {
  margin-top: 40px;
  flex: 1 1 33.33%;
  padding-left: 10px;
}

.footer-info__item:not(:first-child) {
  margin-top: 23px;
}

.footer-info__link {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 16px;
}

.footer__app {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 50px;
}

.footer-app {
  display: flex;
  justify-content: center;
}

.footer-app__link {
  display: inline-block;
  margin-top: 40px;
  color: white;

  img {
    width: 135px;
    height: 40px;
  }
}

.footer-app__link:not(:first-child) {
  margin-left: 40px;
}

.footer__basement {
  margin-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;

  p {
    flex: 1 1 33.33%;
    margin-top: 40px;
    font-size: 11px;
    line-height: 13px;
  }

  p:not(:first-child) {
    padding-left: 10px;
  }
}

.button-up {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 16px;
  bottom: 24px;
  background: #59BD5A;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .footer-info__lang {
    width: 176px;
  }
}

@media (max-width: 479px) {
  .footer-info__social {
    margin-bottom: 40px;
  }
  .footer-info {
    display: block;
  }
  .footer-info__list {
    padding-left: 0;
    margin-top: 23px;
  }
  .footer__basement {
    display: block;

    p:not(:first-child) {
      padding-left: 0;
    }
  }
}

/*---------pushkin.html-main----------*/

.cafe-intro__image {
  min-height: 60vh;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: center;
  }
}

.container {
  position: relative;
}

.cafe-intro__item {
  padding: 30px;
  position: absolute;
  top: -40vh;
  left: 0;
  z-index: 33;
  background-color: #FFFFFF;
  max-width: 390px;
}

.cafe-intro__name {
  font-size: 36px;
  line-height: 42px;
}

.cafe-intro__container {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.cafe-intro__kitchen {
  font-size: 14px;
  line-height: 16px;
  color: #626262;
}

.cafe-intro__time {
  padding: 8px 16px;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 15px;
  background-color: #262626;
  border-radius: 16px;
  margin-left: auto;
}

.cafe-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.cafe-nav__item:not(:first-child) {
  margin-left: 40px;
}

.cafe-nav__link {
  display: inline-block;
  padding: 30px 0;
  color: #626262;
}

.nav-link__active {
  color: #327430;
}

@media (max-width: 479px) {
  .cafe-intro__item {
    padding: 25px;
    position: absolute;
    top: -30vh;
    left: 8px;
    z-index: 33;
    background-color: #FFFFFF;
    max-width: 308px;
  }
  .cafe-intro__name {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .cafe-intro__container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cafe-intro__time {
    margin-left: 0;
    margin-top: 15px;
  }
  .cafe-nav {
    display: none;
  }
}

.cafe-menu {
  margin-bottom: 80px;
}

.cafe-menu__title {
  margin-top: 55px;
}

.cafe-menu__list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 50px;
}

.menu-item {
  display: flex;
}

.menu-item__link {
  display: block;
}

.menu-item__description {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}

.menu-item__name {
  color: #1D1D1D;
}

.menu-item__ingredients {
  font-size: 13px;
  line-height: 21px;
  color: #626262;
}

.menu-item__price {
  margin-top: auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
}

.menu-item__card {
  width: 170px;
  height: 160px;
  margin-left: auto;
  flex-shrink: 0;
}

.menu-item__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .cafe-menu {
    margin-bottom: 50px;
  }
  .cafe-menu__list {
    margin-top: 30px;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .menu-item__card {
    width: 200px;
    height: 160px;
  }
}

@media (max-width: 479px) {
  .cafe-menu {
    margin-bottom: 40px;
  }
  .cafe-menu__title {
    font-size: 22px;
    line-height: 34px;
    text-align: center;
  }
  .cafe-menu__title::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #757575;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-item__description {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu-item__card {
    width: 102px;
    height: 102px;
  }
  .cafe-menu__list {
    margin-top: 40px;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}